body{
::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  border: 0px none #ffffff;
  background: #666666;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
}
.memes{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;;
  margin-top: 2em;
  .elements{
    padding: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    list-style: none;
    overflow-x: scroll;
    align-items: center;
    li.content{
      text-align: left;
      margin: 0 2em;
      padding-bottom: 2em;
      button{
        transition: all ease 500ms;
      }

    }
    li .box{
     height:300px;;
     width: 400px;
     text-align: center;
     overflow: hidden;
     display: flex;
     justify-content: center;;
     align-items: center;
     img{
       // object-fit: contain
       width: 100%;
     }
     border-radius: 15px;
     margin-bottom: 2em;
   }
   li:first-child{
     margin-left: 0 !important;
   }
  }


}
